<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
      <bindings>
        <basicHttpBinding>
          <binding name="BasicHttpBinding_ITravelManagementService" closeTimeout="00:01:00"
            openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
            allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
            maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647"
            textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true"
            messageEncoding="Text">
            <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
            <security mode="None">
              <transport clientCredentialType="None" proxyCredentialType="None"
                realm="" />
              <message clientCredentialType="UserName" algorithmSuite="Default" />
            </security>
          </binding>
          <binding name="BasicHttpBinding_IB2BFacade" />
        </basicHttpBinding>
      </bindings>
      
      <behaviors>
        <endpointBehaviors>
          <behavior name="config">
            <dataContractSerializer maxItemsInObjectGraph="2147483647" />
          </behavior>
        </endpointBehaviors>
      </behaviors>
      
      <client>
        <endpoint address="http://www.orchestration.com.br/TravelManagementService.svc"
          behaviorConfiguration="config" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITravelManagementService"
          contract="Envision.TravelManagementService.ITravelManagementService"
          name="BasicHttpBinding_ITravelManagementService" />
        <endpoint address="http://qaswsb2b.centauro.com.br/FacadeB2B.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IB2BFacade"
          contract="Centauro.B2B.IB2BFacade" name="BasicHttpBinding_IB2BFacade" />
      </client>
    </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>