<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
    <section name="DotzCoreConfigurationSection" type="Dotz.Core.Framework.Configuration.DotzCoreConfigurationSection, Dotz.Core.Framework, Version=2.2.0.0, Culture=neutral, PublicKeyToken=9bf9cf6229635129" />
  </configSections>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ITravelManagementService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="2147483647" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>

    <behaviors>
      <endpointBehaviors>
        <behavior name="config">
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
        </behavior>
      </endpointBehaviors>
    </behaviors>

    <client>
      <endpoint address="http://www.orchestration.com.br/TravelManagementService.svc" behaviorConfiguration="config" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITravelManagementService" contract="Envision.TravelManagementService.ITravelManagementService" name="BasicHttpBinding_ITravelManagementService" />
    </client>
  </system.serviceModel>
  
  <DotzCoreConfigurationSection xmlns="urn:Dotz.Core.Framework.Configuration">
    <Dotz.Core.Application applicationId="1D987C50-ED02-4CFE-A56B-84994CF41194">
      <DatabaseProfile profileName="DEFAULT" />
      <ApplicationSettings>
      </ApplicationSettings>
      <DefaultDatabase databaseName="DotzSystem" dataSource="172.16.3.236\dev">
        <DatabaseProperties>
          <Property key="Integrated Security" value="SSPI" />
          <Property key="Connection Timeout" value="15" />
          <Property key="Application Name" value="DotzCoreFramework-CE7E3C1B-77D3-4BB6-9DFC-31593381AE96" />
        </DatabaseProperties>
      </DefaultDatabase>
    </Dotz.Core.Application>
    
    <!--<Dotz.Core.Cache defaultCacheName="DotzFrames" defaultRegionName="default">
      <Servers>
        <CacheServer serverKey="xavier" serverName="xavier" serverPort="22233"/>
      </Servers>
    </Dotz.Core.Cache>-->
    
    <Dotz.Core.Code>
      <ExceptionLogging enabled="false" />
      <DataCommandLogging enabled="false" />
      <ExpertLogging enabled="false" />
      <CodeTrace enabled="false" />
      <CoreValidations enabled="false" />
    </Dotz.Core.Code>
  </DotzCoreConfigurationSection>
  <appSettings>
    <add key="CodigoProcessoEmailValideSuaConta" value="53" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <connectionStrings>
    <add name="DotzApp" connectionString="Initial Catalog=DotzApp;Data Source=172.16.3.236\dev;Integrated Security=SSPI;" providerName="System.Data.SqlClient" />
    <add name="DotzUsuario" connectionString="Initial Catalog=DotzUsuario;Data Source=172.16.3.236\dev;Integrated Security=SSPI;" providerName="System.Data.SqlClient" />
    <add name="DotzCadastro" connectionString="Initial Catalog=DotzCadastro;Data Source=172.16.3.236\dev;Integrated Security=SSPI;" providerName="System.Data.SqlClient" />
    <add name="DotzSignup" connectionString="Initial Catalog=DotzSignup;Data Source=172.16.3.236\dev;Integrated Security=SSPI;" providerName="System.Data.SqlClient" />
    <add name="DotzSystem" connectionString="Initial Catalog=DotzSystem;Data Source=172.16.3.236\dev;Integrated Security=SSPI;" providerName="System.Data.SqlClient" />
    <add name="DotzCampanhaBBConsignado" connectionString="Initial Catalog=DotzCampanhaBBConsignado;Data Source=172.16.3.236\dev;Integrated Security=SSPI;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <loggingConfiguration name="" tracingEnabled="true" defaultCategory="General">
    <listeners>
      <add name="Event Log Trace Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FormattedEventLogTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FormattedEventLogTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" source="Enterprise Library Logging" formatter="Text Formatter" />
      <add name="Flat File Trace Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" fileName="C:\Temp\trace.log" formatter="Text Formatter" />
    </listeners>
    <formatters>
      <add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" template="Category: {category}{newline}&#xA;Timestamp: {timestamp}{newline}&#xA;Message: {message}{newline}&#xA;Extended Properties: {newline}&#xA;{dictionary({tab}{tab}{key} - {value}{newline})}&#xA;Machine: {localMachine}{newline}&#xA;App Domain: {localAppDomain}{newline}" name="Text Formatter" />
    </formatters>
    <categorySources>
      <add switchValue="All" name="General">
        <listeners>
          <add name="Event Log Trace Listener" />
          <add name="Flat File Trace Listener" />
        </listeners>
      </add>
      <add switchValue="All" name="Business Errors &amp; Warnings">
        <listeners>
          <add name="Event Log Trace Listener" />
          <add name="Flat File Trace Listener" />
        </listeners>
      </add>
      <add switchValue="All" name="Code Errors &amp; Warnings">
        <listeners>
          <add name="Event Log Trace Listener" />
          <add name="Flat File Trace Listener" />
        </listeners>
      </add>
      <add switchValue="All" name="Database Commands">
        <listeners>
          <add name="Event Log Trace Listener" />
          <add name="Flat File Trace Listener" />
        </listeners>
      </add>
    </categorySources>
    <specialSources>
      <allEvents switchValue="All" name="All Events">
        <listeners>
          <add name="Event Log Trace Listener" />
          <add name="Flat File Trace Listener" />
        </listeners>
      </allEvents>
      <notProcessed switchValue="All" name="Unprocessed Category">
        <listeners>
          <add name="Event Log Trace Listener" />
          <add name="Flat File Trace Listener" />
        </listeners>
      </notProcessed>
      <errors switchValue="All" name="Logging Errors &amp; Warnings">
        <listeners>
          <add name="Event Log Trace Listener" />
          <add name="Flat File Trace Listener" />
        </listeners>
      </errors>
    </specialSources>
  </loggingConfiguration>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.8.0" newVersion="4.0.8.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>